<div class="container mx-auto px-4 py-8 mt-16 pb-24 md:pb-8 flex items-center justify-center">  
  <div class="w-full max-w-md space-y-8">
    <div class="text-center">
      <%= link_to root_path, class: "inline-block" do %>
        <div class="p-3 bg-primary rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="size-8 text-base-100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
            <path d="M3.3 7l8.7 5 8.7-5"></path>
            <path d="M12 22V12"></path>
          </svg>
        </div>
      <% end %>
      <%= yield :auth_header %>
    </div>
    
    <div class="card bg-base-100 shadow-2xl">
      <div class="card-body">
        <%= yield %>
      </div>
    </div>
    
    <%= yield :auth_footer %>
  </div>
</div> 