<div class="hero flex-1">
  <div class="hero-content flex-col">
    <div class="text-center">
      <h1 class="text-5xl font-bold"><%= t(".title", default: "Reset Password") %></h1>
      <p class="py-6"><%= t(".description") %></p>
      <%= link_to t("layouts.application.sign_in"), sign_in_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
